<h1 class="heading-lg">Editing Referral Code</h1>

<%= render 'form', referral_code: @referral_code %>

<hr>

<%= link_to 'Show', [:admin, @referral_code], class: 'button' %>
<%= link_to 'Back', admin_referral_codes_path, class: 'link' %>
