<%= render "shared/header" %>
  <section class="section-padding text-center">
    <div class="callout">
      <h1 class="text-4xl font-bold my-6">Page not found <i class="fa fa-meh-o" aria-hidden="true"></i></h1>
      <p class="">We're sorry, but we can't find that page.</p>
    </div>
  </section>
<%= render "shared/footer" %>
