<h1 class="heading-lg">Editing Organization</h1>

<%= render 'form', organization: @organization %>

<hr>

<%= link_to 'Show', [:admin, @organization], class: 'button' %>
<%= link_to 'Back', admin_organization_path, class: 'link' %>
